.order_page{
    width: 1200px;
    margin: auto;
}


#order_number{
    margin-top: 15px;
}

#client_name{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color:black
}

#client_details{
   justify-content: space-around;
    display: flex;
}

.bold{
    font-weight: bold;
}

.regular{
    font-weight: lighter;
}

.products_list{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.row{
    width:100%;
    display: flex;
    height: 50px;
    align-items: center;
}

.row:first-child{
    font-weight: bold;
}

.row div{
    border: 1px solid;
    flex-grow: 1;
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#narrow{
    width: 7%;
}

/* .row div div{
text-align: center;
margin: auto;
width:70px;
border: none;
} */