.product_and_sale{
    border-bottom: 1px dashed rgb(4, 87, 11);
}

.product_row {
    height: 50px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
}

 .quantity{
    display: flex;
    text-align: center; 
   flex-basis: 15%;
}

.button{
    color:  rgb(10, 145, 145);
}

.image_container{
    height: 80%;
    flex-basis: 20%;
    text-align: center;
    cursor: pointer;
}

.cart_product_image {
    height: 100%;
}

  .product_title{
    flex-basis: 15%;
    cursor: pointer;
}

.product_total_price{
    flex-basis: 20%;
} 

.button{
    cursor: pointer;
}

.sale_row{
    padding: 0px 8px;
    color:red;
    display:flex;
justify-content: space-between;
}