.cart_details{
    padding: 8px;
    height: 80px;
    background-color:rgb(11, 112, 53);
    color:white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.total_price{
    font-size: 30px;
    font-weight: 100;
    color: white;
}

.button_container{
    width: 120px;
}

.cart_button{
    font-size: 20px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color:  rgb(194, 30, 44);
    color:white;
    border-color: white;
}