
.category{
    flex-grow: 1;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    border-left:1px solid #ffffff;
    text-align: center;
    background-color:rgb(189, 21, 77);
    /* rgb(192, 4, 36); */
    /* rgb(153, 15, 68); */
    /* rgb(199, 23, 82); */
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
    z-index: 2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;    /* align-items: center; */
}

.category:first-child{
    background-color: rgb(255, 208, 0);
}

.category:first-child h3{
    color:rgb(189, 21, 77);
    font-weight: 500;
}

.category_text{
color:rgb(255, 255, 255);
font-weight:300;
}


.categoryTxt{
    text-decoration: none;
    font-size: 13px;
}

.sub_cat_dropdown{
    /* position: relative; */
z-index: 3;
}