.categories{
    position: fixed;
    top: 85px;
    display: flex;
    list-style: none;
    align-items: stretch;
    padding: 0px;
    height: 55px;
    width: 100%;  
    align-content: stretch;
    margin-top: 0;
    border-top: 1px solid #ffffff;
    margin-bottom: 10px;
    z-index: 3;
}

#sales_category{
    background-color: orangered;
}