.categories{
    display: flex;
    list-style: none;
    align-items: stretch;
    padding: 0px;
    height: 70px;
    width: 100%;  
    align-content: stretch;
    margin: 1px 0px;
    margin-bottom: 10px;
}
/* 
ul{
    display: flex;
    /* margin-bottom: 15px; */
