.intro{
    position: relative;
    bottom:94px;
    z-index: 2;
}


.sales_headline{
    display:flex;
    height: 88px;
    margin-right: 60px;
    align-items: center;
    justify-content:right;
}

#sales_icon_cotainer{
    height: 80%;
    align-items: center;
}

#sales_icon{
    height:70px;
    /* width: 2px; */
}

#sales_headline_txt{
    /* z-index: 6; */
    /* position: absolute; */
    /* margin-top: 20px; */
    margin-right: 10px;
    /* font-size: 50px; */
    font-weight: 350;
    color:  rgb(194, 30, 44);
    font-size: 70px;
}

.intro_img{
    /* z-index: 6; */
    /* position: absolute; */
    max-height: 300px;
    width:100%;
    /* border-radius: 20px; */
    /* z-index: 1; */
}