.orders_list{
   position: relative;
   top:170px;
}

.orders_headline{
   text-align: center;
   margin-top: 20px;
   color: rgb(4, 87, 11);
   font-weight: 500;
}

.columns_headlines{
   width:90%;
   display:flex;
   margin: auto;
   margin-top: 20px;
}

#column_headline_txt{
   color:rgb(4, 87, 11);
}

.link_to_order{
   width:92%;
   display: flex;
}

.column_headline{
   width:8%;
   background-color: rgb(243, 180, 62);
   border: 1px solid rgb(10, 145, 145);
   /* rgb(4, 87, 11); */
   text-align: center;
   font-size:small;
}

.column_headline#comment{
   /* width:15%; */
   flex-grow: 1;
}

.column_headline#print,.column_headline#close{
   width:4%;
}

.column_headline h3{
color:white;
}

.no_orders{
   color:black
}