.search_bar{
    margin: 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 4;
    display: flex;
    background-color:rgb(2, 102, 97);
    height: 85px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
}

