.search_bar{
    margin: 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 4;
    display: flex;
    background-color:rgb(2, 102, 97);
    height: 85px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
}

.search_div{
    display: flex;
    margin-left:25%;
}

.search{
    height: 45px;
    width:600px;
    border-radius: 10px;
}

.search_button{
    position: relative;
    left: 30px;
    top:12px;
    align-content: center;
    height: 35px;
}

.search_dropdown{
    position:absolute;
    top:52px;
    background-color: white;
    width: 600px;
    padding: 0;
    z-index: 4;
}

li{
    list-style: none;
}